@import './base.css';

#app {
  height: 100dvh;
  width: 100dvw;
}

#app {
  display: grid;
  grid-template-columns: 10em 1fr;
  grid-template-rows: 5em 1fr;
  grid-template-areas:
    'nav header'
    'nav main';
  overflow: auto;
}

header {
  grid-area: header;
  background-color:;
  padding: 1em 2em;
}

nav {
  grid-area: nav;
  padding: 3em 2em;
}

main {
  grid-area: main;
  padding: 1em 2em;
}

textarea {
  background-color: transparent;
  caret-color: var(--color-text);
  color: var(--color-text);
}

.dayView-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.dayView-btnContainer {
  display: flex;
  align-items: center;
  gap: 1em;
}
